body{background-color:rgb(56, 214, 253);
    margin: 0%;
}
span{
    font-size: 300%;
    text-align: center;
    font-weight: 500;
    font-family: Brush Script MT;
}
h2{
    font-size: 250%;
    font-weight: 300;
    font-family: Brush Script MT;  
}

h3{
    text-align: center;
    font-style: inherit;
    color: rgba(29, 63, 218, 0.918);  
}
p{
    font-weight: 900;
    color: rgb(11, 11, 12);
    font-style: oblique;
}
.derechos{
    font-weight: 100;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;}
main{
    text-align: center;
}
header{
    text-align: center;
    background-color: rgba(25, 248, 155, 0.712);
}
h4{
    font-size:150%;
    font-weight: 600;
}
footer{
    background-color: rgba(76, 108, 196, 0.712);}
.tiendas{
    font-size: 200%;
    font-weight: 500;
    font-family: serif;
}
.derechos{
    font-style: normal;
}    